/* GENERAL RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* LAYOUT */

.container {
    width: 75%;
    margin: 0 auto;
    background-color: black;
    padding: 50px 7%;
}

.container > *:not(footer) {
    width: 100%;
    margin-bottom: 40px;
}



header {
    min-height: 150px;
    background-color: teal;
}

section {
    min-height: 300px;
    background-color: red;
}

main {
    background-color: wheat;
}

footer {
    height: 150px;
    background-color: sandybrown;
    text-align: center;
}

main > * {
    max-width: 100%;
    border: 2px solid red;
    float: left;
}

main > header {
    background-color: seagreen;
}

main header img {
    width: 100%;
}

main > aside {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5);
}

.central_box {
    width: 60%;
    background-color: slategrey;
}
/* CONTENT */